body {
    background-color: rgb(141, 140, 140);
}

.btns{
    width: 50%;
    margin: 10rem;
    padding: 10rem;
}

.btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
    padding: 0.25rem;
    border: 0.1rem solid black;
}
