*{
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#projectDetails {
    display: flex;
    flex-direction: column;
    border: solid 0.3rem grey;
}

.formItem{
    height: 2rem;
    border: solid 0.3rem grey;

}