<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="Navigation.css">
    <link rel="icon" href="logo.png" type="image/x-icon" />
    <title>Indlu construction</title>
</head>

<body>

    <header>
        <h1 id="logo">
          <a >
            <img src="logo.png" alt="logo" width="60px" height="60px" />
          </a>
        </h1>
        <nav class="topnav">
          <ul class="navigationList">
            <li id="captureNewProject" class="navItem">
              <a href="./newClientForm.html">Capture New Client</a>
            </li>
  
            <li id="projects" class="navItem">
              <a href="./index.html">View Company Projects</a>
            </li>
  
            <li id="Progress" class="navItem">
              <a href="./viewProgress.html">View Project Progress</a>
            </li>
  
            <li id="invoice" class="navItem">
              <a href="./invoices.html">View Invoices</a>
            </li>
  
            <li id="teams" class="navItem">
              <a class = "active" href="./availableTeams.html">View Available Teams</a>
            </li>
          </ul>
        </nav>
        <button id="signout-btn"><a href="./Login.html">Sign out</a></button>
      </header>

    <main id="mainContent">

        <section id="projectsSection" class="section">

            <h1 id="projectsHeader">AvailableTeams</h1>

            <table id="table">

                <tr class="table-row" id="table-header">

                    <th>TeamID</th>

                    <th>TeamName</th>

                </tr>

            </table>

        </section>

    </main>
</body>

</html>