<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./Navigation.css" />
    <script src="./scripts.js" defer></script>
    <link rel="icon" href="logo.png" type="image/x-icon" />

    <title>Project Details</title>
  </head>

  <body>
    <header>
      <h1 id="logo">
        <a href="./Landing.html">
          <img src="logo.png" alt="logo" width="60px" height="60px" />
        </a>
      </h1>
      <nav class="navigation">
        <ul class="navigationList">
          <li id="captureNewProject" class="navItem">
            <a href="newClientForm.html">Capture New Client</a>
          </li>

          <li id="projects" class="navItem">
            <a href="">View Company Projects</a>
          </li>

          <li id="Progress" class="navItem">
            <a href="./viewProgress.html">View Project Progress</a>
          </li>

          <li id="invoice" class="navItem">
            <a href="./invoices.html">View Invoices</a>
          </li>

          <li id="teams" class="navItem">
            <a href="./availableTeams.html">View Available Teams</a>
          </li>
        </ul>
      </nav>
      <button id="signout-btn"><a href="./Landing.html">Sign out</a></button>
    </header>

    <main id="mainContent">
      <section id="projectsSection" class="section">
        <h1 id="projectsHeader">Company projects</h1>
        <table id="table">
          <tr class="table-row" id="table-header">
            <th>ProjectID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>HouseType</th>
            <th>time(Months)</th>
            <th>teamName</th>
            <th>ProjectLocation</th>
            <th>AmountPaidInZAR</th>
            <th>BalanceInZAR</th>
            <th>StatusType</th>
          </tr>
        </table>
      </section>
    </main>
  </body>
</html>
