<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="./scripts.js" defer></script>
    <title>Project Details</title>
</head>
<body>
    <section id="home" class="homeButtons">
        <button class="homeButtons btn " type="button">View Company Projects</button>
        <button id="captureNewProjectBtn" class="homeButtons capture-modal-btn btn" type="button">Capture New Client</button>
        <button class="homeButtons btn" type="button">View Progress</button>
        <button class="homeButtons btn invoice-modal-btn"  type="button">View Invoices</button>
        <button class="homeButtons btn" type="button">View Available Teams</button>
    </section>

    <section id="CaptureNewProject" class="capture-modal-overlay modal-overlay hide">
        <div id="captureModal" class="modal">
            <!-- <button id="close-modal-btn" class="modal-btn">close</button> -->
            <span id="close-modal-btn" class="material-icons capture-modal-btn">close</span>
            <form id="addNewProjectForm" action="/add_new_project" method="post">
        
                <!-- client Details Form -->
                <div id="clientDetailsForm" class="forms hide">
                    <label for="ClentTitle">Title:</label>
                    <select class="formItem" name="ClentTitle" id="ClientTitle">
                        <option value="MR">MR</option>
                        <option value="MRS">MRS</option>
                        <option value="MS">MS</option>
                        <option value="MR">DR</option>
                        <option value="MRS">PROF</option>
                        <option value="MS">REV</option>
                    </select>
                    <br>
                    <label class="formItem" for="firstName">First Name:</label>
                    <input class="formItem clientFormInput" type="text" id="firstName" name="firstName" required><br>
            
                    <label class="formItem" for="lastName">Last Name:</label>
                    <input class="formItem clientFormInput" type="text" id="lastName" name="lastName" required><br>
            
                    <input class="formItem clientFormInput" type="radio" name="gender" id="male" required>
                    <label for="male">Male</label>
                    <input class="formItem clientFormInput" type="radio" name="gender" id="female" required>
                    <label for="female">Female</label><br>
            
                    <label for="PhoneNumber">Phone Number:</label>
                    <input class="formItem clientFormInput" type="text" id="PhoneNumber" name="PhoneNumber" required><br>
            
                    <label for="Email">Email Addres:</label>
                    <input class="formItem clientFormInput" type="text" id="Email" name="Email" required><br>
            
                    <label for="address">Physical Address:</label><br>
                    <textarea class="formItem clientFormInput" rows="4" cols="30" name="address" id="address" required></textarea><br>
            
                    <button id="projectDetailsBtn" class="formItem formBtn" type="submit">Next</button>
                    </div>
        
                <!--project Details Form  -->
                <div id="projectDetailsForm" class="forms">
                    <label for="TeamID">Select team:</label>
                    <select class="formItem" name="TeamID" id="TeamID">
                    <option value="avengers">avengers</option>
                    <option value="titans">titans</option>
                    <option value="Justice league">Justice league</option>
                    </select>
                    <br>
                
                    <label for="houses">select house:</label>
                    <select class="formItem" name="houses" id="houses">
                    <option value="1room">1room</option>
                    <option value="2room">2room</option>
                    <option value="3room">3room</option>
                    <option value="4room">4room</option>
                    </select>           
                    </br>
                    
                    <label for="ProjectLocation">Project Location:</label>
                    <input class="formItem" type="text"  required name="ProjectLocation" placeholder="ProjectLocation">
                    <br/>

                    <label for="AmountPaidInZAR">Amount Paid (ZAR):</label>
                    <input class="formItem" type="number"  required name="AmountPaidInZAR" placeholder="AmountPaidInZAR">
                    <br/>
                
                    <button id="backToClientFormBtn" class="formItem formBtn" type="button">back</button>             
                    <button  id="submitForm" class="formItem formBtn" type="submit">submit</button>             
                </div>
              </form> 
        </div>
    </section>

    <!-- Invoice form -->
    <section id="invoiceSection" class="invoice modal-overlay hide" >
    <div id="invoiceModal" class="modal" class="forms hide">

        <span id="close-modal-btn" class="material-icons modal-btn invoice-modal-btn">close</span>
        <form id="GetInvoice" action="/add_new_project" method="POST">

            <label for="fname">Enter Project ID:</label><br>

            <input class="formItem" type="text" id="InvoiceProjectID" name="InvoiceProjectID"><br>

            <input class="formItem" type="submit" value="Get Invoice">
        </form>

    </div>
</section>

   
</body>
</html>
