<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Indlu Construction</title>
    <link rel="stylesheet" href="./css/invoices.css" />
    <link rel="stylesheet" href="./css/globalStyles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="./css/navigation.css" />
    <script src="./Javascript/invoice.js" defer></script>
    <script src="./Javascript/navigation.js" defer></script>
  </head>

  <body>
    <header></header>

    <main class="invoice-box">
      <table cellpadding="0" cellspacing="0">
        <tr class="top">
          <td colspan="2">
            <table>
              <tr>
                <td class="title">
                  <img src="./logo.png" width: 10%; max-width: 30px alt="logo"
                  />
                </td>

                <td>
                  <p>Best Company of value</p>
                  <p>Building strong houses</p>
                  <p>Better than anyone</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="information">
          <td colspan="2">
            <table>
              <tr>
                <td>
                  Indlu Construction<br />
                  Killarney<br />
                  Johannesburg, GP
                </td>

                <td>
                  Batcave co.<br />
                  Minenhle Mncube<br />
                  john@example.com
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="heading">
          <td>Status Description</td>

          <td>Status ID #</td>
        </tr>

        <tr class="details">
          <td>The Project is in progress</td>

          <td>1</td>
        </tr>

        <tr class="heading">
          <td>HouseType</td>

          <td>AmountPaidInZAR</td>
        </tr>

        <tr class="item">
          <td>1 bedroom</td>

          <td>R5000.00</td>
        </tr>

        <tr class="total">
          <td></td>

          <td>BalanceInZAR: R5000.00</td>
        </tr>
      </table>
    </main>
  </body>
</html>
