<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Invoices</title>
</head>

<body>
    <main id="mainContent">

        <section id="projectsSection" class="section">

            <h1 id="projectsHeader">Invoices</h1>

            <table id="table">

                <tr class="table-row" id="table-header">

                    <th>TeamID</th>

                    <th>FirstName</th>

                    <th>LastName</th>

                    <th>HouseType</th>

                    <th>AmountPaidInZAR</th>

                    <th>BalanceInZAR</th>

                    <th>StatusDescr</th>

                </tr>

            </table>

        </section>

    </main>
</body>

</html>