<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Indlu Construction</title>
    <link rel="stylesheet" href="./css/invoices.css">
    <link rel="stylesheet" href="./css/globalStyles.css">
    <link rel="stylesheet" href="./css/navigation.css" />
	</head>

	<body>
    <header>
      <a class="logo" href="Landing.html">
        <img src="logo.png" alt="logo" width="70px" height="70px" />
      </a>

      <nav>
        <ul class="navigationList toggle">
          <li id="captureNewProject">
            <a href="./newClientForm.html">Capture Project</a>
          </li>

          <li id="projects">
            <a href="./index.html">Projects</a>
          </li>

          <li id="invoice">
            <a href="./invoices.html">Invoices</a>
          </li>

          <li id="teams">
            <a href="./availableTeams.html">Teams</a>
          </li>
          <i class="material-symbols-outlined close"> close </i>
        </ul>
      </nav>
      <button id="signout-btn" class="button secondaryButton">
        <a href="./Login.html">Sign out</a>
      </button>
      <i class="material-symbols-outlined">menu</i>
    </header>

		<main class="invoice-box">
			<table cellpadding="0" cellspacing="0">
				<tr class="top">
					<td colspan="2">
						<table>
							<tr>
								<td class="title">
									<img src="./logo.png" width: 10%; max-width: 30px alt="logo" />
								</td>

								<td>
                  <p>Best Company of value</p>
									<p>Building strong houses</p>
                  <p>Better than anyone</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="2">
						<table>
							<tr>
								<td>
									Indlu Construction<br />
									Killarney<br />
									Johannesburg, GP
								</td>

								<td>
									Batcave co.<br />
									Minenhle Mncube<br />
									john@example.com
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="heading">
					<td>Status Description</td>

					<td>Status ID #</td>
				</tr>

				<tr class="details">
					<td>The Project is in progress</td>

					<td>1</td>
				</tr>

				<tr class="heading">
					<td>HouseType</td>

					<td>AmountPaidInZAR</td>
				</tr>

				<tr class="item">
					<td>1 bedroom</td>

					<td>R5000.00</td>
          
				</tr>


				<tr class="total">
					<td></td>

					<td>BalanceInZAR: R5000.00</td>
				</tr>
			</table>
		</main>
	</body>
</html>