<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Navigation.css" />

    <script src="./scripts.js" defer></script>

    <title>indlu construction</title>
    <link rel="icon" href="logo.png" type="image/x-icon" />
  </head>
  <body>
    <header id="header">
      <h1 id="logo">
        <a href="Landing.html">
          <img src="logo.png" alt="logo" width="60px" height="60px" />
        </a>
      </h1>
      <nav class="topnav">
        <ul class="navigationList">
          <li id="projects" class="navItem">
            <a href="Login.html">Sign in</a>
          </li>

          <li id="Progress" class="navItem">
            <a href="News.html">News</a>
          </li>
        </ul>
      </nav>
    </header>

    <section>
      <h1>Interesting Construction Facts</h1>

      <ul>
        <li>
          The world's tallest crane isthe Liebherr type 357 HC-L.It has a max
          hook height of 53.3 meters or 174.8 feet.
        </li>
        <li>
          In 2018 the global construction industry spent $11.4 trillion. By 2030
          this number is expected to reach $17.5 trillion.
        </li>
        <li>Concrete is the most used material in construction.</li>

        <li>
          By 2030, global spending in construction is expected to reach $17.5
          trillion USD.
        </li>
        <li>
          More than 180 million people work in construction around the world.
        </li>
        <li>
          When building an average-size house - about 1,200 square feet - there
          are about 12,000 nails that are used.
        </li>
        <li>
          As of 2020, women account for 25% of the construction workforce.
        </li>
      </ul>
    </section>
  </body>
</html>
