<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="Navigation.css" />

    <script src="./scripts.js" defer></script>
    <link rel="icon" href="logo.png" type="image/x-icon" />

    <title>Indlu construction</title>
  </head>

  <body>
    <header id="header">
      <h1 id="logo">
        <a>
          <img src="logo.png" alt="logo" width="60px" height="60px" />
        </a>
      </h1>
      <nav class="topnav">
        <ul class="navigationList">
          <li id="projects" class="navItem">
            <a class="active" href="Login.html">Sign in</a>
          </li>

        </ul>
      </nav>
    </header>

    <form class="form-container">
      <section id="imgcontainer">
        <img src="avatar.jpg" alt="Avatar" class="avatar" />
      </section>

      <section id="detailsContainer">
        <label for="uname"><b>Username</b></label>
        <input
          class="formItem"
          type="text"
          placeholder="Enter Username"
          name="uname"
          required
        /><br />

        <label for="psw"><b>Password</b></label>
        <input
          class="formItem"
          type="password"
          placeholder="Enter Password"
          name="psw"
          required
        /><br />

        <button id="login-btn" class="formItem" type="submit">
          <a href="./index.html" Login>Login</a>
        </button>

        <br />
      </section>
    </form>
  </body>
</html>
