<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./CSS/LoginStyle.css" />

    <script src="./scripts.js" defer></script>
    <script src="./eyeScript.js" defer></script>
    <link rel="icon" href="logo.png" type="image/x-icon" />

    <title>Indlu construction</title>
  </head>

  <body>
 

    <form class="form-container">
      <fieldset id="imgcontainer">
        <img src="avatar.png" alt="Avatar" class="avatar" />
      </fieldset>

      <fieldset id="detailsContainer">
        <label for="uname"><b>Username</b></label>
        <input
          class="formItem"
          type="text"
          placeholder="Enter Username"
          name="uname"
          required
        />

        <label for="psw"><b>Password</b></label>
        <input
          class="formItem"
          type="password"
          placeholder="Enter Password"
          name="password"
          required
          id="id_password"
        />
        <i class="far fa-eye" id="togglePassword"></i>

        <button class = "button secondaryButton" class="formItem" type="submit">
          <a href="./projects.html" Login>Login</a>
        </button>

      </fieldset>
    </form>
  </body>
</html>
