<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="captureProject.css">
    <link rel="stylesheet" href="Navigation.css">
    <link rel="icon" href="logo.png" type="image/x-icon" />
    <title>Indlu construction</title>
</head>

<body>
    <header>
        <h1 id="logo">
          <a class="active" href="Landing.html">
            <img src="logo.png" alt="logo" width="40px" height="20px" />
          </a>
        </h1>
        <nav class="topnav">
          <ul class="navigationList">
            <li id="captureNewProject" class="navItem">
              <a class = "active" href="./newClientForm.html">Capture New Client</a>
            </li>
  
            <li id="projects" class="navItem">
              <a href="./index.html">View Company Projects</a>
            </li>
  
            <li id="Progress" class="navItem">
              <a href="./viewProgress.html">View Project Progress</a>
            </li>
  
            <li id="invoice" class="navItem">
              <a href="./invoices.html">View Invoices</a>
            </li>
  
            <li id="teams" class="navItem">
              <a href="./availableTeams.html">View Available Teams</a>
            </li>
          </ul>
        </nav>
        <button id="signout-btn"><a href="./Login.html">Sign out</a></button>
      </header>

        <!-- client Details Form -->
        <form id="addNewProjectForm" class="form-container" >
            <label for="ClentTitle">Title:</label>
            <select class="formItem" name="TitleID" id="ClientTitle">
                <option value="1">MR</option>
                <option value="2">MRS</option>
                <option value="3">MS</option>
                <option value="4">DR</option>
                <option value="5">PROF</option>
                <option value="6">REV</option>
            </select>
            <br>
            <label class="formItem" for="LirstName">First Name:</label>
            <input class="formItem clientFormInput" type="text" id="FirstName" name="FirstName" required><br>

            <label class="formItem" for="LastName">Last Name:</label>
            <input class="formItem clientFormInput" type="text" id="LastName" name="LastName" required><br>

            <label for="PhoneNumber">Phone Number:</label>
            <input class="formItem clientFormInput" type="text" id="PhoneNumber" name="PhoneNumber" required><br>

            <label for="Email">Email Addres:</label>
            <input class="formItem clientFormInput" type="text" id="EmailAddress" name="EmailAddress" required><br>

            <label for="address">Physical Address:</label><br>
            <textarea class="formItem clientFormInput" rows="4" cols="30" name="PhyicalAddress" id="PhyicalAddress"
                required></textarea><br>

            <!-- Project Details -->
            <label for="TeamID">Select eam:</label>
            <select class="formItem" name="TeamID" id="TeamID">
                <option value="2">avengers</option>
                <option value="1">titans</option>
                <option value="3">Justice league</option>
            </select>
            <br>

            <label for="Houses">Select House:</label>
            <select class="formItem" name="HouseID" id="houses">
                <option value="1">1room</option>
                <option value="2">2room</option>
                <option value="3">3room</option>
                <option value="4">4room</option>
            </select>
            </br>

            <label for="ProjectLocation">Project Location:</label>
            <input class="formItem" type="text" required name="ProjectLocation" placeholder="ProjectLocation">
            <br />

            <label for="AmountPaidInZAR">Amount Paid (ZAR):</label>
            <input class="formItem" type="number" required name="Deposit" placeholder="AmountPaidInZAR">
            <br />

            <button id="backToClientFormBtn" class="formItem formBtn" type="button"><a href="./index.html">back</a></button>
            <button id="submitForm" class="formItem formBtn" type="submit">submit</button>
        </form>
        <script src="./scripts.js"></script>
</body>

</html>