<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="Navigation.css" />
    <title>Document</title>
  </head>
  <body>
    <section id="topnav">
      <a href="Landing.html">Home</a>
      <a href="Login.html">Sign in</a>
      <a class="active" href="News.html">News</a>
    </section>

    <section>
      <center>
        <h1>Team of the month</h1>

        <video width="600" height="400" autoplay controls>
          <source src="teamOftheMonth.mp4" type="video/mp4" />
          <source src="teamOftheMonth.ogg" type="video/ogg" />
        </video>
      </center>
    </section>
  </body>
</html>
