<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="Navigation.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 id="logo"></h1>
      <nav class="topnav">
        <ul class="navigationList">
          <li id="captureNewProject" class="navItem">
            <a href="Landing.html">
              <img src="logo.png" alt="logo" width="40px" height="20px" />
            </a>
          </li>

          <li id="projects" class="navItem">
            <a href="Login.html">Sign in</a>
          </li>

          <li id="Progress" class="navItem">
            <a class="active" href="News.html">News</a>
          </li>
        </ul>
      </nav>
    </header>

    <section>
      <h1>Team of the month</h1>

      <video width="600" height="400" autoplay controls>
        <source src="teamOftheMonth.mp4" type="video/mp4" />
        <source src="teamOftheMonth.ogg" type="video/ogg" />
      </video>
    </section>
    <section>
      <h1>Team of the month</h1>

      <video width="600" height="400" autoplay controls>
        <source src="teamOftheMonth.mp4" type="video/mp4" />
        <source src="teamOftheMonth.ogg" type="video/ogg" />
      </video>
    </section>
  </body>
</html>
