* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
/* .topnav {
   
    
    overflow: hidden;
    padding: 10px;
  width: 100%;
  }
  
  .topnav a {
    float: right;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #f2cc0c;
    color: black;
  }
  
  .topnav a.active {
    background-color: #f2cc0c;
    color: white;
  }
 */

/* 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(img2.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
} */

/* Home */

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
}

.homeButtons {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
}
/* .homeButtons{
    
    font-weight: bold;

    width: 50%;
    margin: 1rem;
    padding: 1rem;
}
.homeButtons.btn:hover {
    background-color: #f2cc0c
    } */

/* Capture New Project */

.forms {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  /* border: solid 0.3rem black; */
}

.formItem {
  height: 2rem;
  margin: 0rem 0.5rem;
  /* border: solid 0.3rem black; */
}

.formBtn {
  margin: 0.5rem 0rem;
}

/* Modal */
.modal-overlay {
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.712);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
}

.modal {
  z-index: 100;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 50vw;
  padding: 0rem 0.5rem;

  /* height: 30vh; */
}

#close-modal-btn {
  cursor: pointer;
  font-size: 2rem;
  border: 0.1rem solid white;
  color: white;
  border-radius: 50%;
  position: absolute;
  right: calc(45%);
  top: -3.5rem;
}

#close-modal-btn:hover {
  border: 0.1rem solid red;
  color: red;
}

.hide {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .modal {
    width: 90vw;
  }
}

/* @media screen and (max-width: 320px){ 
    .modal{
    font-size: 10px;
    }
  } */
