main {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
}

#filterProjects {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
}

aside {
  position: static;
  flex: 1;
}

#displayProjects {
  flex: 3;
}

.formItem {
  display: flex;
  height: 2rem;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
  width: 100%;
}

#projectsList {
  overflow-y: scroll;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 2rem; */
}
li {
  margin: 1rem 0rem;
  /* border: 0.1rem solid var(--grey); */
  /* width: 100%; */
  /* box-shadow: ; */
}

/* th{
    min-width: 20rem;
} */

@media screen and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* tr {
    min-width: 40rem;
    margin: 1rem 0.5rem;
  } */
  /* li {
    margin-top: 5rem;
  } */
  table {
    overflow-x: scroll;
  }

  /* th {
    min-width: 8rem;
    margin: 0rem 0.5rem;
  } */
}
